body { 	
	color: black;
	background-color: white;
	font-family: Serif;
	font-size: 12pt;
	}
div {width: 1200px;
    padding: 10px;
    border: 0px solid white; 
    margin-left: 0px;
	margin-right: 350px;
	}

h1{		font-style:italic; 
		font-size: 26pt;
		font-weight: bold;
		text-align:center;
		}
	
h3 {		font-style:italic; 
		font-size: 16pt;
		font-weight: bold;
		text-align:left;
		}
		
img{display:none}
